# =========================================================
# Ignore IDE / Eclipse / STS files
# =========================================================
.settings/
.classpath
.project
bin/

# =========================================================
# Ignore build folders
# =========================================================
**/target/
**/build/
**/out/

# =========================================================
# Ignore logs
# =========================================================
*.log

# =========================================================
# Ignore OS files
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# Ignore unnecessary scripts/files
# =========================================================
*.bat
kill-ports
start-all
start-dev
stop-dev

