option_settings:
  aws:elasticbeanstalk:container:java:
    JVMOptions: "-Xms512m -Xmx1024m"
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: production
    SERVER_PORT: "5000"
  aws:elasticbeanstalk:environment:proxy:nginx:proxy:
    NginxProxyTable: >
      [{
        "server": "localhost:5000",
        "http": true,
        "rewrite": null
      }]
